/* common_general_rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7f8fc;
}

.container {
    text-align: center;
}

section {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}
/* /common_general_rules */
