/* common_general_rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f8fc;
}

.container {
    max-width: 1400px;
}

section {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.card {
    height: 175px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 40px !important;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}
/* /common_general_rules */
