/* utility_rules */
.active {
    display: block !important;
}

.deactive {
    display: none !important;
}

.move_left {
    position: relative;
    right: -100px;
}
.move_right {
    position: relative;
    left: -100px;
}
/* /utility_rules */
