/* colors_rules */
$jumbotron_first_background_color: #0241a1;
$jumbotron_second_background_color: #0b69d1;
$button_background_color: #267edc;
$title_special_first_color: #637bff;
$title_special_second_color: #26c2f7;
$container_background_color: #f7f8fc;
$button_play_background_color: #ebeef0;
/* /colors_rules */
