/* colors_rules */
$jumbotron_first_background_color: #0241a1;
$jumbotron_second_background_color: #0b69d1;
$button_background_color: #267edc;
$title_special_first_color: #637bff;
$title_special_second_color: #26c2f7;
$container_background_color: #f7f8fc;
$button_play_background_color: #ebeef0;
$section_background_color: #f7f8fc;
$card_violet_top_background_color: #b271bd;
$card_violet_bottom_background_color: #8b60ec;
$card_red_top_background_color: #f3477f;
$card_red_bottom_background_color: #ec454f;
$card_green_top_background_color: #6ddbc3;
$card_green_bottom_background_color: #1aab8b;
$card_blue_top_background_color: #21c7f6;
$card_blue_bottom_background_color: #617cfe;
$card_yellow_top_background_color: #fec63b;
$card_yellow_bottom_background_color: #f19a1a;
$section_plan_button_first_border_color: #28bff7;
$section_plan_button_second_border_color: #5c83fe;
$site_header_pages_first_background_color: #5b79a2;
$site_header_pages_second_background_color: #2e446a;
/* /colors_rules */
