/* colors_rules */
$jumbo_first_background_color: #0241a1;  
$jumbo_second_background_color: #0b69d1;
$button_background_color: #267edc;
$title_special_first_color: #637bff;
$title_special_second_color: #26c2f7;
/* /colors_rules */